header, section, footer, aside, nav, main, article, figure {
	display: block;
}

img{
	max-width: 100%;
}

/* @media print {
	body {
	  visibility: hidden;
	}
	#section-to-print {
	  visibility: visible;
	  position: absolute;
	  left: 0;
	  top: 0;
	}
  } */